In [31]:
import mysql.connector
import pandas as pd
import pandas.io.sql as psql
import creds

In [32]:
db= mysql.connector.connect(
    host="localhost",
    user="root",
    passwd=creds.passwd,
    database="nfl salary analysis"
)

AttributeError: module 'creds' has no attribute 'passwd'

In [18]:
cursor= db.cursor

In [19]:
df = pd.read_sql_query(("""
                       select 
    a.POS AS Position, 
    CONCAT('$',format(sum(a.salary),'N')) as '2013 Salary',
    CONCAT('$',format(b.salary1,'N')) as '2014 Salary',
    CONCAT('$',format(c.salary2,'N')) as '2015 Salary',
    CONCAT('$',format(d.salary3,'N')) as '2016 Salary',
    CONCAT('$',format(e.salary4,'N')) as '2017 Salary',
    CONCAT('$',format(f.salary5,'N')) as '2018 Salary',
    CONCAT('$',format(g.salary6,'N')) as '2019 Salary',
    CONCAT('$',format(h.salary7,'N')) as '2020 Salary',
    CONCAT('$',format(i.salary8,'N')) as '2021 Salary',
    CONCAT('$',format(j.salary9,'N')) as '2022 Salary'
from nfl_2013_salary as a
INNER JOIN (SELECT 
            pos, 
            sum(salary) as salary1
            FROM nfl_2014_salary
            GROUP BY POS) AS b
on a.POS = b.POS
INNER JOIN(SELECT
            POS,
            SUM(salary) as salary2
            FROM nfl_2015_salary
            GROUP BY POS) AS C
on a.pos = c.pos
INNER JOIN(SELECT
            POS,
            SUM(salary) as salary3
            FROM nfl_2016_salary
            GROUP BY POS) AS D
on a.pos = D.pos
INNER JOIN(SELECT
            POS,
            SUM(salary) as salary4
            FROM nfl_2017_salary
            GROUP BY POS) AS E
on a.pos = E.pos
INNER JOIN(SELECT
            POS,
            SUM(salary) as salary5
            FROM nfl_2018_salary
            GROUP BY POS) AS F
on a.pos = F.pos
INNER JOIN(SELECT
            POS,
            SUM(salary) as salary6
            FROM nfl_2019_salary
            GROUP BY POS) AS G
on a.pos = G.pos
INNER JOIN(SELECT
            POS,
            SUM(salary) as salary7
            FROM nfl_2020_salary
            GROUP BY POS) AS H
on a.pos = H.pos
INNER JOIN(SELECT
            POS,
            SUM(salary) as salary8
            FROM nfl_2021_salary
            GROUP BY POS) AS I
on a.pos = I.pos
INNER JOIN(SELECT
            POS,
            SUM(salary) as salary9
            FROM nfl_2022_salary
            GROUP BY POS) AS J
on a.pos = J.pos
GROUP BY a.POS;



                        """)
                       
                       ,db)

c:\Users\jayso\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Position,2013 Salary,2014 Salary,2015 Salary,2016 Salary,2017 Salary,2018 Salary,2019 Salary,2020 Salary,2021 Salary,2022 Salary
0,C,"$103,781,382","$117,026,581","$108,444,360","$124,327,440","$139,063,355","$193,933,183","$207,472,033","$209,151,206","$178,055,175","$188,199,658"
1,CB,"$320,755,125","$362,089,920","$389,724,620","$459,391,725","$460,970,184","$493,619,272","$516,686,895","$605,209,792","$558,243,783","$632,834,360"
2,DE,"$312,496,015","$334,881,648","$354,691,612","$367,940,425","$426,841,523","$439,211,072","$555,113,921","$579,334,701","$499,027,662","$520,099,227"
3,DT,"$214,906,840","$234,842,797","$303,581,504","$320,317,810","$344,756,809","$380,640,461","$366,359,333","$471,865,295","$413,526,514","$465,652,197"
4,FB,"$24,774,506","$23,448,124","$20,800,843","$15,142,654","$19,726,250","$16,455,000","$18,719,525","$24,426,033","$17,287,500","$28,782,500"

Empty DataFrame
Columns: []
Index: []