The very first thing to do is import the python packages BeautifulSoup, requests, and pandas.

In [11]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Gathered table information using an ajax POST call via the requests package

In [12]:
url = ('https://www.spotrac.com/nfl/rankings/2020/cash/')
data = {
   'ajax': 'true',
   'mobile' : 'False'
}
soup = BeautifulSoup(requests.post(url, data=data).content, 'html.parser')

Creating a list to attach all the data from the tables to.

In [14]:
rows_list = list()

Using the BeautifulSoup package I collected all the data wanted from the table and appended it to the list from earlier.

In [15]:
nfl_table = soup.find('table', class_ = 'datatable captracker noborder')
for body in nfl_table.find_all('tbody'):
    rows = body.find_all('tr')
    for row in rows:
         pl_name = row.find('a', class_ ='team-name').text.strip()
         pl_team_name = row.find('div', class_ = 'rank-position').text.strip()
         pl_position = row.find('td', class_ = 'center med').text.strip()
         pl_salary = row.find_all('span', class_ = 'info')
         for span in pl_salary:
            span = span.text.replace('usd','').strip()      
         rows_list.append([pl_name,pl_team_name,pl_position,span])

Created a dataframe using pandas and the list from earlier and transformed the dataframe to a csv file.

In [16]:
df_nfl=pd.DataFrame(rows_list,columns=['Name','Team','POS', 'Salary'])
df_nfl.to_csv('NFL 2020 Salary.csv', index=False)
nfl_file=pd.read_csv('NFL 2020 Salary.csv')
df_nfl.head()

             Name Team POS       Salary
0  Russell Wilson  SEA  QB  $53,000,000
1       Joey Bosa  LAC  DE  $43,020,731
2    Kirk Cousins  MIN  QB  $40,028,856
3    Carson Wentz  PHI  QB  $39,383,000
4  Ryan Tannehill  TEN  QB  $37,500,000