The very first thing to do is import the python packages BeautifulSoup, requests, and pandas.

In [2]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

In [3]:
url = ('https://www.spotrac.com/nfl/rankings/2022/cash/')
data = {
   'ajax': 'true',
   'mobile' : 'False'
}
soup = BeautifulSoup(requests.post(url, data=data).content, 'html.parser')

In [4]:
rows_list = list()

In [5]:
nfl_table = soup.find('table', class_ = 'datatable captracker noborder')
for body in nfl_table.find_all('tbody'):
    rows = body.find_all('tr')
    for row in rows:
         pl_name = row.find('a', class_ ='team-name').text.strip()
         pl_team_name = row.find('div', class_ = 'rank-position').text.strip()
         pl_position = row.find('td', class_ = 'center med').text.strip()
         pl_salary = row.find_all('span', class_ = 'info')
         for span in pl_salary:
            span = span.text.replace('usd','').strip()      
         rows_list.append([pl_name,pl_team_name,pl_position,span])

In [6]:
df_nfl=pd.DataFrame(rows_list,columns=['Name','Team','POS', 'Salary'])
df_nfl.to_csv('NFL 2022 Salary.csv', index=False)
nfl_file=pd.read_csv('NFL 2022 Salary.csv')
df_nfl.head()

             Name Team  POS       Salary
0    Dak Prescott  DAL   QB  $75,000,000
1       Tom Brady   TB   QB  $39,420,588
2       T.J. Watt  PIT  OLB  $36,593,470
3  Trent Williams   SF   LT  $32,311,755
4  Jonathan Allen  WAS   DT  $31,142,235